@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default margin and force height */
/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

.hover-area {
  position: relative;
}
.hover-area::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
